html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
}

#flexBox {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: #10182b; 
}


#catImg {
    width: 50%;
    height: auto;
}

#gameTitle {
    font-size: 20vw;
    font-family: sans-serif;
    color: #fafafa;
    text-align: center;
    margin: 0;
    padding: 0;
}

#score {
    font-size: 15vw;
    font-family: sans-serif;
    color: #fafafa;
    margin: 5vw;
}

#navBar {
    background-color: #030508;
    width: 100vw;
    height: 10vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


#store {
    display: none;
    width: 100vw;
    height: 90vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #d35400;
}

#store h2:first-child{
    font-family: sans-serif;
    font-size: 20vw;
    color: #f4f4f4;
    text-align: center;
    margin: 0;
}

#storeImg {
    width: auto;
    height: 80%;
}

.storeFlex {
    display: flex;
    flex-flow: row;  
    justify-content: center;
    align-items: center;
}

.storeFlex h2 {
    font-family: sans-serif;
    font-size: 5vw;
    margin-left: 5vw;
    margin-right: 5vw;
}

.storeFlex span {
    font-family: sans-serif;
    font-size: 5vw;
    color: aqua;
}

#multiplierImg {
    width: 15%;
    height: auto;
}

